if SHIELD_TAKA_LEFT

config ZMK_KEYBOARD_NAME
    default "TAKA"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TAKA_LEFT || SHIELD_TAKA_RIGHT

config ZMK_SPLIT
    default y

endif
